* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'PT Serif', serif;
  font-size: 18px; }

a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: inline-block; }

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase; }

h3 {
  padding: 30px 0; }

h1, h2, h3 {
  color: black; }

.accent_text {
  color: #ffc222; }

.container {
  max-width: 1170px;
  padding: 0px 15px;
  margin: 0 auto; }

section {
  padding: 65px 0px; }

.header-top {
  background-color: #303030;
  line-height: 45px; }
  .header-top a {
    padding: 10px 20px;
    color: white;
    position: relative; }
  .header-top a::before {
    font-family: 'icomoon';
    color: #ffc222;
    position: absolute;
    left: 0; }
  .header-top #phone:before {
    content: "\f095"; }
  .header-top #email:before {
    content: "\f003"; }
  .header-top #consult:before {
    content: "\f0b1";
    color: black;
    left: 10px; }

#consult {
  font-size: 16px;
  background-color: #ffc222;
  float: right;
  color: black;
  padding-left: 30px; }

.header-bottom {
  padding: 30px 0; }
  .header-bottom h1 {
    display: inline-block;
    width: 30%;
    margin-top: 8px;
    text-transform: uppercase; }

nav {
  float: right; }
  nav a {
    display: inline-block;
    border: 1px solid transparent;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    padding: 12px 20px;
    font-size: 16px;
    color: black; }
  nav a:hover {
    border: 1px solid #ffc222; }

.slider {
  text-align: center;
  background-image: url("../img/slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 497px;
  color: white;
  padding-top: 100px; }

.slider_text {
  line-height: 24px;
  color: #d3d2d2;
  margin-top: 30px;
  margin: 20px auto 50px auto;
  max-width: 700px; }

.default_btn {
  line-height: 24px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  display: inline-block;
  border: 1px solid #ffc222;
  padding: 8px 30px 8px 24px;
  position: relative;
  border-right-width: 20px; }

.default_btn::after {
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  right: -13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.white {
  background-color: white;
  color: #5E5E5E; }

.services-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 4fr;
  grid-template-columns: 1fr 5fr 4fr; }

.yellow-line {
  background-color: #ffc222;
  height: 2px;
  margin-top: 15px; }

.serv-btn {
  text-align: right; }

.serv-btn a {
  color: #5E5E5E;
  border: 1px solid #e6e6e6;
  font-size: 18px;
  padding: 15px 40px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.serv-btn a:hover {
  border: 1px solid #ffc222; }

.serv-text {
  padding: 0px 30px;
  letter-spacing: 0.1px; }

.services-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  padding: 60px 0 30px 0; }

.shadow-block {
  background-color: #F9F9F9;
  -webkit-box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
  text-align: center;
  padding: 0 30px 120px 30px;
  min-height: 380px;
  position: relative; }
  .shadow-block a {
    color: black;
    text-decoration: underline;
    margin-top: 20px; }
  .shadow-block a::after {
    color: white; }

.block-2btn {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0; }
  .block-2btn a.default_btn {
    margin-left: 50px;
    text-decoration: none; }

.block-text {
  margin-bottom: 20px; }
