$accentColor: #ffc222
$mainTextColor: #d3d2d2
$subTextColor: #5E5E5E
*
  padding: 0
  margin: 0
  box-sizing: border-box
body
  font-family: 'PT Serif', serif
  font-size: 14px
a
  font-family: 'Roboto', sans-serif
  font-size: 14px
  text-decoration: none
  display: inline-block
h1
  padding: 0
  margin: 0
  font-size: 30px
  text-transform: uppercase
h3
  padding: 30px 0
  font-size: 18px
h4
  font-size: 16px
  padding: 20px 0

h2, h3
  color: black
#logo-header
  color: $subTextColor
.accent_text
  color: $accentColor
.container
  max-width: 1170px
  padding: 0px 15px
  margin: 0 auto
.header-top
  background-color: #303030
  line-height: 45px
.header-top, .left-block
  a
    padding: 10px 20px
    color: white
    position: relative
  a::before
    font-family: 'icomoon'
    color: $accentColor
    position: absolute
    left: 0
  #phone:before
    content: "\f095"

  #email:before
    content: "\f003"
  #adres:before
    content: "\f041"

  #consult:before
    content: "\f0b1"
    color: black
    left: 15px
#consult
  font-size: 16px
  background-color: $accentColor
  float: right
  color: black
  padding-left: 40px
.header-bottom
  padding: 30px 0
  h1
    display: inline-block
    width: 30%
    margin-top: 8px
    text-transform: uppercase

nav
  float: right
  a
    display: inline-block
    border: 1px solid transparent
    transition: 0.6s
    padding: 12px 20px
    font-size: 16px
    color: black
  a:hover
    border: 1px solid $accentColor
.slider
  text-align: center
  background-image: url('../img/slider.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  min-height: 497px
  color: white
  padding-top: 100px
.slider_text
  line-height: 24px
  color: $mainTextColor
  margin-top: 30px
  margin: 20px auto 50px auto
  //margin-bottom: 50px
  max-width: 700px

.default_btn
  line-height: 24px
  font-weight: 500
  font-size: 14px
  color: white
  display: inline-block
  border: 1px solid $accentColor
  padding: 8px 30px 8px 24px
  position: relative
  border-right-width: 20px
.default_btn::after
  content: "\f105"
  font-family: 'icomoon'
  position: absolute
  right: -13px
  top: 50%
  transform: translateY(-50%)
.white
  background-color: white
  color: $subTextColor
.services
  padding-top: 60px
.services-text
  display: grid
  grid-template-columns: 1fr 5fr 4fr
.yellow-line
  background-color: $accentColor
  height: 2px
  margin-top: 15px
.serv-btn
  text-align: right
.serv-btn a
  color: $subTextColor
  border: 1px solid #e6e6e6
  font-size: 18px
  padding: 15px 40px
  transition: 0.5s
.serv-btn a:hover
  border: 1px solid $accentColor
.serv-text
  font-family: 'Roboto', sans-serif
  padding: 0px 30px
  letter-spacing: 0.1px
  h2
    margin-bottom: 20px
.services-block
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 2em
  padding: 60px 0 30px 0
.shadow-block
  background-color: #F9F9F9
  //box-shadow: 0 0 30px -20px сначала написал сам
  // оказалось можно скопировать из PS
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14)

  text-align: center
  padding: 0 30px 120px 30px
  min-height: 380px
  position: relative
  a
    color: black
    text-decoration: underline
    margin-top: 20px
  a::after
    color: white
.block-2btn
  //  padding: 65px 30px 40px 30px
  position: absolute
  bottom: 40px
  left: 0
  right: 0
  a.default_btn
    margin-left: 50px
    text-decoration: none
.block-text
  margin-bottom: 20px
.about
  background-image: url('../img/about-bg.png')
  min-height: 300px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  padding: 40px 0
  a::after
    color: black
  .container
    text-align: left
.about-top
  color: $mainTextColor
  font-family: 'Roboto', sans-serif
  max-width: 540px
  margin-bottom: 30px
  h2
    color: $mainTextColor
    margin-bottom: 30px
.consult-top
  margin: 30px 0
  display: grid
  grid-template-columns: 1fr 9fr
.consult-text
  font-family: 'Roboto', sans-serif
  padding: 0px 30px
  letter-spacing: 0.1px
  max-width: 580px
  h2
    margin-bottom: 20px
.consult .container
  background-image: url('../img/girl.png')
  background-position: right
  background-repeat: no-repeat
  min-height: 520px
  position: relative
.girl
  position: absolute
  right: 0
  bottom: 0
#form1
  display: grid
  grid-template-columns: 1fr 2fr 1fr
  //grid-template-rows: 3fr 1fr
  grid-column-gap: 30px
form label,
form input,
form textarea,
form select
  display: block
  width: 100%
  font-family: 'Roboto', sans-serif
  outline: none
form label
  line-height: 30px
  padding-top: 9px
form input,
form select
  height: 40px
input, textarea, select
  padding: 5px 10px
  border: 1px solid $mainTextColor
//

form textarea
  height: 200px
  resize: none
.f4
  text-align: right
  padding-top: 40px
.f4 button
  color: $subTextColor
  background-color: white
  font-family: 'Roboto', sans-serif

.advantage
  background-color: grey
  background-image: url('../img/adv-bg.jpg')
  min-height: 287px
  background-position: center
  background-repeat: no-repeat
  background-size: cover
.adv-inner
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-gap: 30px
  font-family: 'Roboto', sans-serif
.inner
  padding: 30px 30px
  text-align: center
  color: $mainTextColor

  h3
    color: white
    font-weight: normal

.squad
  width: 35px
  height: 35px
  border: 1px solid $accentColor
  margin: auto
  position: relative
  //text-align: center

.squad::after
  display: block
  font-family: 'icomoon' !important
  content: "\f00c"
  color: white
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
.news
  padding-top: 70px
  padding-bottom: 50px
  background-color: #f9f9f9
  a
    font-size: 14px
.news-block
  margin-top: 50px
  display: grid
  grid-template-columns: 2fr 1fr 1fr
  grid-gap: 30px
.news-inner
  position: relative
.news-shadow-block
  background-color: white
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14)
  text-align: left
  padding: 35px 30px 30px 70px
  min-height: 345px
  position: relative
.top-aw
  position: absolute
  left: 70px
  top: 0
  background-color: $accentColor
  height: 30px
  width: 65px
  text-align: center
  padding-top: 5px
.top-aw::after
  font-family: 'icomoon'
  content: "\f00c"
  color: white
.top-news-date
  position: absolute
  left: 15px
  top: 0
  background-color: $accentColor
  height: 57px
  width: 48px
  text-align: center
  padding-top: 30px
  color: white
  font-family: 'PT+Serif'
  font-weight: bold
.contact .container
  display: grid
  grid-template-columns: 1fr 2fr
  grid-gap: 20px
  padding: 30px 0
.contact
  background-color: #595959
  min-height: 340px
  color: $mainTextColor
.left-block
  margin-left: 20px
  h4
    font-family: 'Roboto'
    padding-top: 0
  a
    display: inline-block
  #consult

    float: none
    //min-width: 260px
    margin-top: 50px
    margin-bottom: 20px
.map-block
  text-align: right
footer
  font-size: 12px
  background-color: #303030
  color: $mainTextColor
  text-align: center
  padding: 12px 15px
